<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/users/<%=user.id%>" method="POST">
    <h2>Edit User</h2>
    <input type="text" name="title" placeholder="Add title" value="<%=user.title%>">
    <input type="text" name="description" placeholder="Add description" value="<%=user.description%>">
    <input type="text" name="tags" placeholder="Add tags" value="<%=user.tags%>">
    <input type="text" name="author" placeholder="Author" value="<%=user.author%>">
    <button type="submit">Update User</button>
  </form>
</body>
</html>